<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
						 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	
	<bean id="productService" class="com.SchoolBlog.service.Impl.ProductServiceImpl">
	</bean>
	<bean id="userService" class="com.SchoolBlog.service.Impl.UserServiceImpl">
	</bean>
	<bean id="articalService" class="com.SchoolBlog.service.Impl.ArticalServiceImpl">
	</bean>
	<bean id="likeService" class="com.SchoolBlog.service.Impl.LikeServiceImpl">
	</bean>
	<bean id="commentService" class="com.SchoolBlog.service.Impl.CommentServiceImpl">
	</bean>
	<bean id="answerService" class="com.SchoolBlog.service.Impl.AnswerServiceImpl">
	</bean>
	<bean id="problemService" class="com.SchoolBlog.service.Impl.ProblemServiceImpl">
	</bean>
	<bean id="lostService" class="com.SchoolBlog.service.Impl.LostServiceImpl">
	</bean>
	<bean id="imgService" class="com.SchoolBlog.service.Impl.ImageServiceImpl">
	</bean>
	
</beans>